In [22]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [23]:
df = pd.read_csv('Train_TP2_Datos_2020-2C.csv')

In [24]:
df= df.fillna(0)

In [25]:
df

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [26]:
#Conversión Japan
df_amount_JPY = df[df['Total_Amount_Currency'] == 'JPY'] 
df_amount_JPY['Conversión_USD'] = df_amount_JPY['Total_Amount'].apply(lambda x: x/109,5)
df_amount_JPY['Conversión_USD'] = df_amount_JPY['Conversión_USD'].astype(int)
df_amount_JPY

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversión_USD
8,24353,Japan,None,1,0,0,0,0,Bureaucratic_Code_5,4/20/2015,...,2016,NaT,0,JPY,15600.0,JPY,470400.0,Closed Lost,Prod_Category_A_None,143
9,24355,Japan,None,1,0,0,0,0,Bureaucratic_Code_5,4/20/2015,...,2016,NaT,0,JPY,4400.0,JPY,470400.0,Closed Lost,Prod_Category_A_None,40
10,24356,Japan,None,1,0,0,0,0,Bureaucratic_Code_5,4/20/2015,...,2016,NaT,0,JPY,6200.0,JPY,470400.0,Closed Lost,Prod_Category_A_None,56
11,24357,Japan,None,1,0,0,0,0,Bureaucratic_Code_5,4/20/2015,...,2016,NaT,0,JPY,140000.0,JPY,470400.0,Closed Lost,Prod_Category_A_None,1284
12,24358,Japan,None,1,0,0,0,0,Bureaucratic_Code_5,4/20/2015,...,2016,NaT,0,JPY,304200.0,JPY,470400.0,Closed Lost,Prod_Category_A_None,2790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16919,21317,Japan,None,1,1,0,0,0,Bureaucratic_Code_4,8/22/2014,...,2016,NaT,0,JPY,3222180.0,JPY,4651580.0,Closed Won,Prod_Category_A_None,29561
16923,27689,Japan,None,1,1,0,0,0,Bureaucratic_Code_4,6/11/2015,...,2016,NaT,0,JPY,12194000.0,JPY,12194000.0,Closed Won,Prod_Category_A_None,111871
16924,27688,Japan,None,1,1,0,0,0,Bureaucratic_Code_4,6/11/2015,...,2016,NaT,0,JPY,11959500.0,JPY,11959500.0,Closed Won,Prod_Category_A_None,109720
16925,19062,Japan,Japan,0,0,0,0,0,Bureaucratic_Code_4,8/11/2013,...,2016,NaT,0,JPY,17537000.0,JPY,17537000.0,Closed Won,Prod_Category_A_None,160889
16926,19066,Japan,Japan,1,1,1,1,0,Bureaucratic_Code_4,8/11/2013,...,2016,NaT,0,JPY,13860000.0,JPY,13860000.0,Closed Won,Prod_Category_A_None,127155

In [28]:
#Conversión EUR
df_amount_EUR = df[df['Total_Amount_Currency'] == 'EUR'] 
df_amount_EUR['Conversión_USD'] = df_amount_EUR['Total_Amount'].apply(lambda x: x*1.1958)
df_amount_EUR['Conversión_USD'] = df_amount_EUR['Conversión_USD'].astype(int)
df_amount_EUR

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversión_USD
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None,6305214
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None,57673
62,18557,EMEA,Italy,1,1,1,1,0,Bureaucratic_Code_4,7/27/2013,...,2016,NaT,0,EUR,259875.0,EUR,259875.0,Closed Lost,Prod_Category_A_None,310758
63,13392,EMEA,Germany,0,0,0,0,0,Bureaucratic_Code_4,7/27/2013,...,2016,NaT,0,EUR,103350.0,EUR,103350.0,Closed Won,Prod_Category_A_None,123585
66,18491,EMEA,United Kingdom,0,0,0,0,0,Bureaucratic_Code_4,1/8/2014,...,2016,NaT,0,EUR,214500.0,EUR,214500.0,Closed Won,Prod_Category_A_None,256499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16938,28767,EMEA,Germany,1,0,0,0,0,Bureaucratic_Code_5,12/4/2015,...,2016,NaT,3,EUR,1307775.0,EUR,1307775.0,Closed Lost,Prod_Category_A_None,1563837
16939,18324,EMEA,Norway,1,1,0,0,0,Bureaucratic_Code_4,7/27/2013,...,2016,NaT,1,EUR,401700.0,EUR,401700.0,Closed Won,Prod_Category_A_None,480352
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,2016,NaT,0,EUR,103350.0,EUR,299715.0,Closed Won,Prod_Category_A_None,123585
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,2016,NaT,0,EUR,93015.0,EUR,299715.0,Closed Won,Prod_Category_A_None,111227
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,2016,NaT,0,EUR,103350.0,EUR,299715.0,Closed Won,Prod_Category_A_None,123585

In [29]:
#Conversión AUD
df_amount_AUD = df[df['Total_Amount_Currency'] == 'AUD'] 
df_amount_AUD['Conversión_USD'] = df_amount_AUD['Total_Amount'].apply(lambda x: x/1.25)
df_amount_AUD['Conversión_USD'] = df_amount_AUD['Conversión_USD'].astype(int)
df_amount_AUD

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversión_USD
615,17338,APAC,Australia,1,1,1,1,0,Bureaucratic_Code_4,10/3/2013,...,2017,NaT,0,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,94080
616,17455,APAC,Australia,1,1,1,1,0,Bureaucratic_Code_4,10/3/2013,...,2017,NaT,0,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,94080
617,17505,APAC,Australia,1,1,1,1,0,Bureaucratic_Code_4,10/3/2013,...,2017,NaT,0,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,94080
618,17464,APAC,Australia,1,1,1,1,0,Bureaucratic_Code_4,10/3/2013,...,2017,NaT,0,AUD,117600.0,AUD,117600.0,Closed Won,Prod_Category_A_None,94080
619,17468,APAC,Australia,1,0,1,0,0,Bureaucratic_Code_5,10/3/2013,...,2017,NaT,0,AUD,105840.0,AUD,105840.0,Closed Won,Prod_Category_A_None,84672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16193,18252,APAC,Australia,1,0,1,0,0,Bureaucratic_Code_5,7/28/2013,...,2016,NaT,3,AUD,2249100.0,AUD,2249100.0,Closed Lost,Prod_Category_A_None,1799280
16194,22578,APAC,Australia,1,1,1,1,0,Bureaucratic_Code_4,9/19/2014,...,2016,NaT,1,AUD,924630.0,AUD,924630.0,Closed Lost,Prod_Category_A_None,739704
16195,22568,APAC,Australia,0,0,0,0,0,Bureaucratic_Code_1,9/19/2014,...,2016,NaT,1,AUD,0.0,AUD,0.0,Closed Lost,Prod_Category_A_None,0
16196,22574,APAC,Australia,1,0,1,0,0,Bureaucratic_Code_5,9/19/2014,...,2016,NaT,2,AUD,1670760.0,AUD,1670760.0,Closed Lost,Prod_Category_A_None,1336608
16197,22571,APAC,Australia,1,1,1,1,0,Bureaucratic_Code_4,9/19/2014,...,2016,NaT,3,AUD,2506140.0,AUD,2506140.0,Closed Won,Prod_Category_A_None,2004912

In [30]:
#Conversión USD
df_amount_USD = df[df['Total_Amount_Currency'] == 'USD'] 
df_amount_USD['Conversión_USD'] = df_amount_USD['Total_Amount'].apply(lambda x: x)
df_amount_USD['Conversión_USD'] = df_amount_USD['Conversión_USD'].astype(int)
df_amount_USD.describe()

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ID,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Opportunity_ID,ASP,ASP_(converted),Delivery_Year,TRF,Total_Amount,Total_Taxable_Amount,Conversión_USD
count,7361.000000,7361.000000,7361.000000,7361.000000,7361.000000,7361.0,7361.000000,7361.000000,7361.000000,7361.000000,7361.000000,7.361000e+03,7.361000e+03,7.361000e+03
mean,15716.197392,0.740117,0.520853,0.594756,0.386496,0.0,5757.370874,0.396593,0.396593,2017.311099,4.217090,1.749952e+06,3.725677e+06,1.749952e+06
std,6396.869475,0.438600,0.499599,0.490973,0.486980,0.0,3072.511783,0.790328,0.790328,0.797720,17.649082,8.052618e+06,2.104121e+07,8.052618e+06
min,4858.000000,0.000000,0.000000,0.000000,0.000000,0.0,2.000000,0.000000,0.000000,2016.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,10245.000000,0.000000,0.000000,0.000000,0.000000,0.0,3317.000000,0.360000,0.360000,2017.000000,0.000000,3.241875e+04,3.150000e+04,3.241800e+04
50%,14862.000000,1.000000,1.000000,1.000000,0.000000,0.0,6018.000000,0.390000,0.390000,2017.000000,0.000000,1.190679e+05,1.628400e+05,1.190670e+05
75%,20967.000000,1.000000,1.000000,1.000000,1.000000,0.0,7859.000000,0.455000,0.455000,2018.000000,2.000000,6.529824e+05,8.918910e+05,6.529820e+05
max,28757.000000,1.000000,1.000000,1.000000,1.000000,0.0,12803.000000,67.000000,67.000000,2020.000000,500.000000,3.150001e+08,1.356339e+09,3.150001e+08

In [31]:
df_amount = df_amount_USD.append([df_amount_JPY, df_amount_EUR, df_amount_AUD])
df_amount = df_amount.sort_index()
df_amount

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A,Conversión_USD
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None,6305214
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None,57673
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None,83865
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None,7421881
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None,13357192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None,123585
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None,111227
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,1/15/2016,...,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None,123585
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,...,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None,2346796
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,...,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None,25603200

In [32]:
binarias=['Pricing, Delivery_Terms_Quote_Appr','Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval','Bureaucratic_Code_0_Approved']
df_amount[binarias]=df_amount[binarias].astype('boolean')

flotantes=['Price','Total_Taxable_Amount','Total_Amount']
for col in flotantes:
    df_amount[col]=pd.to_numeric(df_amount[col],errors='coerce')

enteros=['Sales_Contract_No','Delivery_Year','TRF']
for col in enteros:
     df_amount[col]=pd.to_numeric(df_amount[col],errors='coerce',downcast='integer')

fechas=['Account_Created_Date', 'Opportunity_Created_Date', 'Quote_Expiry_Date','Last_Modified_Date','Planned_Delivery_Start_Date',\
        'Planned_Delivery_End_Date','Month']
df_amount[fechas]=df_amount[fechas].astype('datetime64[ns]')

In [33]:
cols1 = ['ID', 'Region', 'Billing_Country', 'Account_Type', 'Opportunity_Type', 'Account_Owner',   'Account_Name',  'Conversión_USD','Delivery_Quarter', 'TRF',  'Stage'  ]
data = df_amount[cols1]
data

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost
...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won
16943,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won
16944,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won
16945,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost
16946,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost

In [34]:
regiones = ['Japan', 'EMEA', 'Americas', 'APAC', 'Middle East']

In [35]:
def prom(lista,variable):
    promedios = {}
    for i in lista:
        filtro = data[(data[variable] == i) & (data['Stage'] == 'Closed Won')]
        promedio = sum(filtro['Conversión_USD']) / len(filtro[filtro[variable] == i])
        promedios.update({i:promedio})
    return promedios
regiones = ['Japan', 'EMEA', 'Americas', 'APAC', 'Middle East']
res_region = prom(regiones, 'Region')
res_region

{'Japan': 35814.954559133315,
 'EMEA': 246888.2391744233,
 'Americas': 422783.84718349134,
 'APAC': 108927.85706751054,
 'Middle East': 95013.8}

In [36]:
data['promedio_preciov_region'] = data['Region'].map(res_region)
data

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,246888.239174
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,422783.847183
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,422783.847183
...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174
16943,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174
16944,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174
16945,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,422783.847183
16946,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,422783.847183

In [37]:
data_exito = data[data['Stage'] == 'Closed Won']
data_exito

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183
7,27455,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,50688,Q1,0,Closed Won,422783.847183
23,28524,APAC,India,Account_Type_2,Opportunity_Type_19,Person_Name_60,Account_Name_1147,1621851,Q1,3,Closed Won,108927.857068
63,13392,EMEA,Germany,Account_Type_0,Opportunity_Type_8,Person_Name_13,Account_Name_263,123585,Q1,0,Closed Won,246888.239174
...,...,...,...,...,...,...,...,...,...,...,...,...
16937,17683,EMEA,Germany,Account_Type_0,Opportunity_Type_8,Person_Name_13,Account_Name_533,494343,Q1,1,Closed Won,246888.239174
16939,18324,EMEA,Germany,Account_Type_0,Opportunity_Type_1,Person_Name_13,Account_Name_533,480352,Q2,1,Closed Won,246888.239174
16942,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174
16943,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174
16944,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174

In [38]:
def prom_ex(lista,variable):
    promedios = {}
    for i in lista:
        filtro = data_exito[(data_exito[variable] == i) & (data_exito['Stage'] == 'Closed Won')]
        
        promedio = sum(filtro['Conversión_USD']) / len(filtro[variable] == i)
        promedios.update({i:promedio})
        
        
    return promedios

In [39]:
paises = ['Japan', 'United States', 'Germany', 'Australia', 'Singapore',
       'Netherlands', 'India', 'China', 'Spain', 'Italy', 'United Kingdom',
       'Austria', 'Belgium', 'France', 'Thailand', 'Luxembourg', 'Philippines',
       'Sri Lanka', 'Indonesia', 'Jordan', 'Cyprus', 'Canada', 'New Zealand',
       'Portugal', 'Poland', 'Viet Nam', 'Norway',
       'Korea, Democratic People\'s Republic of', 'Taiwan', 'Pakistan',
       'South Africa', 'Turkey', 'Puerto Rico', 'Switzerland', 'Hungary',
       'United Arab Emirates', 'Malta', 'Sweden', 'Lebanon', 'Myanmar',
       'Cambodia', 'Czech Republic', 'Korea, Republic of', 'Reunion',
       'Bulgaria', 'Estonia', 'Bahrain',
       'Macedonia, the former Yugoslav Republic of', 'Saudi Arabia']
res_paises = prom_ex(paises, 'Billing_Country')
print(res_paises)

{'Japan': 34454.245862172735, 'United States': 432143.81367521366, 'Germany': 325954.16577540105, 'Australia': 98171.39712230217, 'Singapore': 61490.17924528302, 'Netherlands': 177583.14603174603, 'India': 270836.79225352115, 'China': 13718.42857142857, 'Spain': 75503.49479166667, 'Italy': 87440.72368421052, 'United Kingdom': 467285.6456692913, 'Austria': 76525.4918032787, 'Belgium': 100146.15126050421, 'France': 207481.12612612612, 'Thailand': 196255.48888888888, 'Luxembourg': 85045.02247191011, 'Philippines': 23189.192771084337, 'Sri Lanka': 102137.93670886075, 'Indonesia': 65919.41509433962, 'Jordan': 82767.30769230769, 'Cyprus': 69202.29411764706, 'Canada': 185230.625, 'New Zealand': 38870.59375, 'Portugal': 69243.72222222222, 'Poland': 50044.0625, 'Viet Nam': 15501.75, 'Norway': 241958.07142857142, "Korea, Democratic People's Republic of": 97934.16666666667, 'Taiwan': 494289.5, 'Pakistan': 59213.0, 'South Africa': 91579.875, 'Turkey': 4328910.0, 'Puerto Rico': 56055.142857142855, 'Switzerland': 164201.83333333334, 'Hungary': 269077.5, 'United Arab Emirates': 103050.0, 'Malta': 71140.4, 'Sweden': 109673.25, 'Lebanon': 520530.6666666667, 'Myanmar': 10698.333333333334, 'Cambodia': 69805.0, 'Czech Republic': 68037.66666666667, 'Korea, Republic of': 1221585.0, 'Reunion': 515150.5, 'Bulgaria': 104632.0, 'Estonia': 49203.0, 'Bahrain': 78490.0, 'Macedonia, the former Yugoslav Republic of': 39174.0, 'Saudi Arabia': 44000.0}

In [40]:
data_exito['promedio_preciov_paises'] = data_exito['Billing_Country'].map(res_paises)
cols2 = ['ID','promedio_preciov_paises' ]
data_exitoo = data_exito[cols2]
data_exitoo

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID  promedio_preciov_paises
1      27760            177583.146032
2      27446            432143.813675
7      27455            432143.813675
23     28524            270836.792254
63     13392            325954.165775
...      ...                      ...
16937  17683            325954.165775
16939  18324            325954.165775
16942   8781             76525.491803
16943   8786             76525.491803
16944   8792             76525.491803

[9533 rows x 2 columns]

In [41]:
data_final = pd.merge(data,data_exitoo, on = 'ID', how ='outer')
data_final = data_final.fillna(0)
data_final

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region,promedio_preciov_paises
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,246888.239174,0.000000
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174,177583.146032
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183,432143.813675
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,422783.847183,0.000000
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,422783.847183,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174,76525.491803
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,422783.847183,0.000000
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,422783.847183,0.000000

In [42]:
data_exito['Account_Type'].value_counts().count()
Account_t = ['Account_Type_2', 'Account_Type_0', 'Account_Type_5', 'Account_Type_1',
       'None', 'Account_Type_4', 'Account_Type_6']
res_account = prom_ex(Account_t, 'Account_Type')
print(res_account)

{'Account_Type_2': 125034.170409234, 'Account_Type_0': 116533.13355834137, 'Account_Type_5': 958150.8873483535, 'Account_Type_1': 653280.5806451613, 'None': 591503.7142857143, 'Account_Type_4': 10496251.25, 'Account_Type_6': 5727.0}

In [43]:
data_exito['promedio_preciov_Account'] = data_exito['Account_Type'].map(res_account)
cols3 = ['ID','promedio_preciov_Account' ]
data_exitoo2 = data_exito[cols3]
data_exitoo2

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID  promedio_preciov_Account
1      27760             125034.170409
2      27446             958150.887348
7      27455             958150.887348
23     28524             125034.170409
63     13392             116533.133558
...      ...                       ...
16937  17683             116533.133558
16939  18324             116533.133558
16942   8781             958150.887348
16943   8786             958150.887348
16944   8792             958150.887348

[9533 rows x 2 columns]

In [44]:
data_final2 = pd.merge(data_final,data_exitoo2, on = 'ID', how ='outer')
data_final2 = data_final2.fillna(0)
data_final2

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region,promedio_preciov_paises,promedio_preciov_Account
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,246888.239174,0.000000,0.000000
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174,177583.146032,125034.170409
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183,432143.813675,958150.887348
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,422783.847183,0.000000,0.000000
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,422783.847183,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174,76525.491803,958150.887348
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,422783.847183,0.000000,0.000000
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,422783.847183,0.000000,0.000000

In [45]:
data_exito['Opportunity_Type'].value_counts().keys()
Opportunity_t = ['Opportunity_Type_7', 'Opportunity_Type_1', 'Opportunity_Type_8',
       'Opportunity_Type_19', 'Opportunity_Type_12', 'Opportunity_Type_3',
       'Opportunity_Type_20', 'Opportunity_Type_10', 'Opportunity_Type_2',
       'Opportunity_Type_4', 'Opportunity_Type_14', 'Opportunity_Type_17',
       'Opportunity_Type_9', 'Opportunity_Type_5', 'Opportunity_Type_0',
       'Opportunity_Type_15', 'Opportunity_Type_18', 'Opportunity_Type_11',
       'Opportunity_Type_23']
res_opor = prom_ex(Opportunity_t,'Opportunity_Type')
print(res_opor)

{'Opportunity_Type_7': 102400.35270235981, 'Opportunity_Type_1': 133491.43240254355, 'Opportunity_Type_8': 87111.3798828125, 'Opportunity_Type_19': 1629802.7944862156, 'Opportunity_Type_12': 79992.65637065638, 'Opportunity_Type_3': 67131.68085106384, 'Opportunity_Type_20': 798227.8333333334, 'Opportunity_Type_10': 64174.541666666664, 'Opportunity_Type_2': 158458.73913043478, 'Opportunity_Type_4': 124278.95238095238, 'Opportunity_Type_14': 35921.0, 'Opportunity_Type_17': 146402.75, 'Opportunity_Type_9': 84030.875, 'Opportunity_Type_5': 56616.625, 'Opportunity_Type_0': 167630.5, 'Opportunity_Type_15': 617642.3333333334, 'Opportunity_Type_18': 87697.5, 'Opportunity_Type_11': 20655.0, 'Opportunity_Type_23': 50851.0}

In [46]:
data_exito['promedio_preciov_Oportunity'] = data_exito['Opportunity_Type'].map(res_opor)
cols4 = ['ID', 'promedio_preciov_Oportunity' ]
data_exitoo3 = data_exito[cols4]
data_exitoo3

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID  promedio_preciov_Oportunity
1      27760                 1.334914e+05
2      27446                 1.334914e+05
7      27455                 1.334914e+05
23     28524                 1.629803e+06
63     13392                 8.711138e+04
...      ...                          ...
16937  17683                 8.711138e+04
16939  18324                 1.334914e+05
16942   8781                 1.334914e+05
16943   8786                 1.334914e+05
16944   8792                 1.334914e+05

[9533 rows x 2 columns]

In [47]:
data_final3 = pd.merge(data_final2,data_exitoo3, on = 'ID', how ='outer')
data_final3 = data_final3.fillna(0)
data_final3

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,246888.239174,0.000000,0.000000,0.000000
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174,177583.146032,125034.170409,133491.432403
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183,432143.813675,958150.887348,133491.432403
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,422783.847183,0.000000,0.000000,0.000000
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,422783.847183,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,422783.847183,0.000000,0.000000,0.000000
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,422783.847183,0.000000,0.000000,0.000000

In [48]:
data_exito['Account_Owner'].value_counts().keys()
Owner_t = ['Person_Name_50', 'Person_Name_13', 'Person_Name_8', 'Person_Name_43',
       'Person_Name_18', 'Person_Name_32', 'Person_Name_65', 'Person_Name_64',
       'Person_Name_4', 'Person_Name_3', 'Person_Name_42', 'Person_Name_66',
       'Person_Name_2', 'Person_Name_52', 'Person_Name_21', 'Person_Name_46',
       'Person_Name_16', 'Person_Name_45', 'Person_Name_38', 'Person_Name_49',
       'Person_Name_54', 'Person_Name_55', 'Person_Name_62', 'Person_Name_60',
       'Person_Name_59', 'Person_Name_61', 'Person_Name_63', 'Person_Name_5',
       'Person_Name_51', 'Person_Name_33', 'Person_Name_14', 'Person_Name_39',
       'Person_Name_9', 'Person_Name_44', 'Person_Name_41', 'Person_Name_23',
       'Person_Name_58', 'Person_Name_35', 'Person_Name_34']
res_vendedor = prom_ex(Owner_t ,'Account_Owner')
print(res_vendedor)

{'Person_Name_50': 10595.66983078828, 'Person_Name_13': 278450.5162738496, 'Person_Name_8': 684165.3420707732, 'Person_Name_43': 95561.18294360385, 'Person_Name_18': 184917.07370184254, 'Person_Name_32': 56652.18739054291, 'Person_Name_65': 42397.63293650794, 'Person_Name_64': 75357.66842105263, 'Person_Name_4': 514926.8803986711, 'Person_Name_3': 456076.2188841202, 'Person_Name_42': 78835.83084577114, 'Person_Name_66': 187712.38829787233, 'Person_Name_2': 82983.92349726777, 'Person_Name_52': 139822.8085106383, 'Person_Name_21': 29097.007575757576, 'Person_Name_46': 375192.89763779525, 'Person_Name_16': 256653.5873015873, 'Person_Name_45': 140250.58974358975, 'Person_Name_38': 259652.0603448276, 'Person_Name_49': 325743.82857142854, 'Person_Name_54': 184150.66666666666, 'Person_Name_55': 96375.62790697675, 'Person_Name_62': 292718.8333333333, 'Person_Name_60': 292585.36363636365, 'Person_Name_59': 226447.10169491524, 'Person_Name_61': 314979.89285714284, 'Person_Name_63': 71553.0925925926, 'Person_Name_5': 112691.9375, 'Person_Name_51': 85165.04651162791, 'Person_Name_33': 106193.94871794872, 'Person_Name_14': 139579.45454545456, 'Person_Name_39': 55653.35, 'Person_Name_9': 70202.875, 'Person_Name_44': 377961.77777777775, 'Person_Name_41': 28519.666666666668, 'Person_Name_23': 40304.0, 'Person_Name_58': 844171.5, 'Person_Name_35': 0.0, 'Person_Name_34': 29736.0}

In [49]:
data_exito['promedio_preciov_vendedor'] = data_exito['Account_Owner'].map(res_vendedor)
cols5 = ['ID', 'promedio_preciov_vendedor' ]
data_exitoo4 = data_exito[cols5]
data_exitoo4

/home/agustin18/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          ID  promedio_preciov_vendedor
1      27760               85165.046512
2      27446               75357.668421
7      27455               75357.668421
23     28524              292585.363636
63     13392              278450.516274
...      ...                        ...
16937  17683              278450.516274
16939  18324              278450.516274
16942   8781              278450.516274
16943   8786              278450.516274
16944   8792              278450.516274

[9533 rows x 2 columns]

In [50]:
data_final4 = pd.merge(data_final3,data_exitoo4, on = 'ID', how ='outer')
data_final4 = data_final4.fillna(0)
data_final4

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity,promedio_preciov_vendedor
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,246888.239174,0.000000,0.000000,0.000000,0.000000
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174,177583.146032,125034.170409,133491.432403,85165.046512
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183,432143.813675,958150.887348,133491.432403,75357.668421
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403,278450.516274
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403,278450.516274
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403,278450.516274
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000

In [51]:
from math import sqrt
def wilson(p, n, z = 1.96):
    denominator = 1 + z**2/n
    centre_adjusted_probability = p + z*z / (2*n)
    adjusted_standard_deviation = sqrt((p*(1 - p) + z*z / (4*n)) / n)
    
    lower_bound = (centre_adjusted_probability - z*adjusted_standard_deviation) / denominator
    upper_bound = (centre_adjusted_probability + z*adjusted_standard_deviation) / denominator
    return (upper_bound - lower_bound)

positive = 50
total = 170
p  = positive / total
(p, wilson(p, total))

(0.29411764705882354, 0.1357730025245579)

In [54]:
df_filtro_exito = data_final4[data_final4['Stage']== 'Closed Won']
df_filtro_exito

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity,promedio_preciov_vendedor
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174,177583.146032,125034.170409,1.334914e+05,85165.046512
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183,432143.813675,958150.887348,1.334914e+05,75357.668421
7,27455,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,50688,Q1,0,Closed Won,422783.847183,432143.813675,958150.887348,1.334914e+05,75357.668421
23,28524,APAC,India,Account_Type_2,Opportunity_Type_19,Person_Name_60,Account_Name_1147,1621851,Q1,3,Closed Won,108927.857068,270836.792254,125034.170409,1.629803e+06,292585.363636
63,13392,EMEA,Germany,Account_Type_0,Opportunity_Type_8,Person_Name_13,Account_Name_263,123585,Q1,0,Closed Won,246888.239174,325954.165775,116533.133558,8.711138e+04,278450.516274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16932,17683,EMEA,Germany,Account_Type_0,Opportunity_Type_8,Person_Name_13,Account_Name_533,494343,Q1,1,Closed Won,246888.239174,325954.165775,116533.133558,8.711138e+04,278450.516274
16934,18324,EMEA,Germany,Account_Type_0,Opportunity_Type_1,Person_Name_13,Account_Name_533,480352,Q2,1,Closed Won,246888.239174,325954.165775,116533.133558,1.334914e+05,278450.516274
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,1.334914e+05,278450.516274
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174,76525.491803,958150.887348,1.334914e+05,278450.516274
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,1.334914e+05,278450.516274

In [55]:
df_exitosos_region = df_filtro_exito.groupby(['Region']).agg({'Region':['count']})
level0_ex = df_exitosos_region.columns.get_level_values(0)
level1_ex = df_exitosos_region.columns.get_level_values(1)
df_exitosos_region.columns = level0_ex + '_' + level1_ex
df_exitosos_region = df_exitosos_region.reset_index()
df_exitosos_region = df_exitosos_region.rename(columns = {'Region_count':'Region_exitos'})
df_exitosos_region

        Region  Region_exitos
0         APAC           1896
1     Americas           1793
2         EMEA           2471
3        Japan           3323
4  Middle East             50

In [56]:
df_filtro_fracaso= df[df['Stage']== 'Closed Lost']
df_filtro_fracaso

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,28,USD,14838277.50,USD,14838277.5,Closed Lost,Prod_Category_A_None
6,16799,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2017,NaT,7,USD,2659494.60,USD,2659494.6,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16938,28767,EMEA,Germany,1,0,0,0,0,Bureaucratic_Code_5,12/4/2015,...,Q3,2016,NaT,3,EUR,1307775.00,EUR,1307775.0,Closed Lost,Prod_Category_A_None
16940,20827,Americas,NE America,1,0,0,0,0,Bureaucratic_Code_5,6/16/2014,...,Q4,2016,NaT,20,USD,10751580.00,USD,21332500.0,Closed Lost,Prod_Category_A_None
16941,20830,Americas,NE America,1,0,0,0,0,Bureaucratic_Code_5,6/16/2014,...,Q4,2016,NaT,20,USD,10580920.00,USD,21332500.0,Closed Lost,Prod_Category_A_None
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,10/20/2015,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,9/3/2015,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [57]:
df_fracaso_region = df_filtro_fracaso.groupby(['Region']).agg({'Region':['count']})
level0_fr = df_fracaso_region.columns.get_level_values(0)
level1_fr = df_fracaso_region.columns.get_level_values(1)
df_fracaso_region.columns = level0_fr + '_' + level1_fr
df_fracaso_region = df_fracaso_region.reset_index()
df_fracaso_region = df_fracaso_region.rename(columns = {'Region_count':'Region_fracasos'})
df_fracaso_region

        Region  Region_fracasos
0         APAC             1355
1     Americas             2140
2         EMEA             2189
3        Japan             1546
4  Middle East              120

In [58]:
union = df_exitosos_region.merge(df_fracaso_region, how = 'outer', on = 'Region')
union['Total'] = union['Region_exitos'] + union['Region_fracasos']
union['proporcion_exito'] = union['Region_exitos'] / union['Total']
decimals = 2    
union['proporcion_exito'] = union['proporcion_exito'].apply(lambda x: round(x, decimals))
union

        Region  Region_exitos  Region_fracasos  Total  proporcion_exito
0         APAC           1896             1355   3251              0.58
1     Americas           1793             2140   3933              0.46
2         EMEA           2471             2189   4660              0.53
3        Japan           3323             1546   4869              0.68
4  Middle East             50              120    170              0.29

In [59]:
def aplicar_wilson_region(regiones):
    coeficiente = {}
    for i in regiones:
        exitos = union.loc[union['Region']==i]['Region_exitos']
        exitos = exitos[exitos.index[0]]
        total = union.loc[union['Region']==i]['Total']
        total = total[total.index[0]]
        p =  exitos/total 
        a = wilson( p , total)
        a = 1-a
        coeficiente.update({i : a} )
    return coeficiente

aplicar_regiones = aplicar_wilson_region(regiones)
print(aplicar_regiones)

{'Japan': 0.9738572442395569, 'EMEA': 0.9713524051975674, 'Americas': 0.9688837792533591, 'APAC': 0.9661233636670233, 'Middle East': 0.8642269974754421}

In [60]:
def dicc(serie1,serie2):
    diccionario = {}
    for i in range(len(serie1)):
        diccionario.update({serie1[i]: serie2[i]})
    return diccionario

res1 = dicc(union['Region'], union['proporcion_exito'])
print(res1)

{'APAC': 0.58, 'Americas': 0.46, 'EMEA': 0.53, 'Japan': 0.68, 'Middle East': 0.29}

In [61]:
data_final4['proporcion_exito_region'] = data_final4['Region'].map(res1)
data_final4['1-wilson_Region'] = data_final4['Region'].map(aplicar_regiones)
data_final4['Wilsonxproporcion_region'] = data_final4['proporcion_exito_region'] * data_final4['1-wilson_Region'] 
data_final4

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,promedio_preciov_region,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity,promedio_preciov_vendedor,proporcion_exito_region,1-wilson_Region,Wilsonxproporcion_region
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,246888.239174,0.000000,0.000000,0.000000,0.000000,0.53,0.971352,0.514817
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,246888.239174,177583.146032,125034.170409,133491.432403,85165.046512,0.53,0.971352,0.514817
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,422783.847183,432143.813675,958150.887348,133491.432403,75357.668421,0.46,0.968884,0.445687
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403,278450.516274,0.53,0.971352,0.514817
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403,278450.516274,0.53,0.971352,0.514817
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,246888.239174,76525.491803,958150.887348,133491.432403,278450.516274,0.53,0.971352,0.514817
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,422783.847183,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687

In [62]:
proporcion_paises_y = data_final4[data_final4['Stage']=='Closed Won']
proporcion_paises_y = proporcion_paises_y['Billing_Country'].value_counts().reset_index()
proporcion_paises_y.columns = ['Billing_Country', 'Exitos_ventas_paises']
proporcion_paises_y

                               Billing_Country  Exitos_ventas_paises
0                                        Japan                  3323
1                                United States                  1755
2                                      Germany                  1122
3                                    Australia                   695
4                                    Singapore                   318
5                                  Netherlands                   315
6                                        India                   284
7                                        China                   203
8                                        Spain                   192
9                                        Italy                   152
10                              United Kingdom                   127
11                                     Austria                   122
12                                     Belgium                   119
13                                      France                   111
14                                    Thailand                    90
15                                  Luxembourg                    89
16                                 Philippines                    83
17                                   Sri Lanka                    79
18                                   Indonesia                    53
19                                      Jordan                    39
20                                      Cyprus                    34
21                                      Canada                    32
22                                 New Zealand                    32
23                                    Portugal                    18
24                                      Poland                    16
25                                    Viet Nam                    16
26                                      Norway                    14
27      Korea, Democratic People's Republic of                    12
28                                      Taiwan                    10
29                                    Pakistan                     9
30                                South Africa                     8
31                                 Puerto Rico                     7
32                                      Turkey                     7
33                                     Hungary                     6
34                                 Switzerland                     6
35                        United Arab Emirates                     5
36                                       Malta                     5
37                                      Sweden                     4
38                                    Cambodia                     3
39                                     Myanmar                     3
40                              Czech Republic                     3
41                                     Lebanon                     3
42                                     Reunion                     2
43                          Korea, Republic of                     2
44                                     Estonia                     1
45  Macedonia, the former Yugoslav Republic of                     1
46                                    Bulgaria                     1
47                                Saudi Arabia                     1
48                                     Bahrain                     1

In [63]:
proporcion_paises_n = data_final[data_final4['Stage']=='Closed Lost']
proporcion_paises_n = proporcion_paises_n['Billing_Country'].value_counts().reset_index()
proporcion_paises_n.columns = ['Billing_Country', 'Fracasos_ventas_paises']
proporcion_paises_t= pd.merge(proporcion_paises_y, proporcion_paises_n, on = 'Billing_Country', how = 'outer' )
proporcion_paises_t = proporcion_paises_t.fillna(0) 
proporcion_paises_t['Total'] =  proporcion_paises_t['Exitos_ventas_paises'] +   proporcion_paises_t['Fracasos_ventas_paises']
proporcion_paises_t['Proporcion'] = proporcion_paises_t['Exitos_ventas_paises'] / proporcion_paises_t['Total']
proporcion_paises_t

,Billing_Country,Exitos_ventas_paises,Fracasos_ventas_paises,Total,Proporcion
0,Japan,3323.0,1533.0,4856.0,0.684308
1,United States,1755.0,2035.0,3790.0,0.463061
2,Germany,1122.0,851.0,1973.0,0.568677
3,Australia,695.0,470.0,1165.0,0.596567
4,Singapore,318.0,114.0,432.0,0.736111
...,...,...,...,...,...
74,Morocco,0.0,1.0,1.0,0.000000
75,Libya,0.0,1.0,1.0,0.000000
76,Malaysia,0.0,1.0,1.0,0.000000
77,Bangladesh,0.0,1.0,1.0,0.000000
78,Chile,0.0,1.0,1.0,0.000000

In [64]:
paises = ['Japan', 'United States', 'Germany', 'Australia', 'India',
       'Netherlands', 'Singapore', 'France', 'Spain', 'Italy',
       'United Kingdom', 'Belgium', 'China', 'Thailand', 'Austria',
       'Indonesia', 'Philippines', 'Luxembourg', 'Canada', 'Sri Lanka',
       'Jordan', 'Poland', 'Cyprus', 'New Zealand', 'United Arab Emirates',
       'Norway', 'Viet Nam', 'Taiwan', 'Portugal', 'Switzerland', 'None',
       'Pakistan', 'Turkey', 'Puerto Rico', 'Hungary', 'Ireland',
       'South Africa' , 'Lebanon',
       'Denmark', 'Czech Republic', 'Greece', 'Saudi Arabia',
       'French Southern Territories', 'Sweden', 'Malta', 'Brazil',
       'Korea, Republic of', 'Egypt', 'Cambodia', 'Myanmar',
       'Macedonia, the former Yugoslav Republic of', 'Mexico', 'Bulgaria',
       'Kuwait', 'Jamaica', 'Armenia', 'Slovakia', 'Ghana', 'Belarus',
       'Reunion', 'Palestine', 'Estonia', 'Albania', 'Malaysia', 'Chile',
       'Bangladesh', 'Kenya', 'Ecuador', 'Bosnia and Herzegovina', 'Bahrain',
       'Colombia', 'Dominican Republic', 'Morocco', 'Peru', 'Belize',
       'Argentina', 'Liechtenstein', 'Libya', 'Korea, Democratic People\'s Republic of']

In [65]:
def aplicar_wilson(dataframe, lista, serie1,columna1, columna2):
    coeficiente = {}
    for i in lista:
        exitos = dataframe.loc[serie1==i][columna1]
        exitos = exitos[exitos.index[0]]
        total = dataframe.loc[serie1==i][columna2]
        total = total[total.index[0]]
        p =  exitos/total 
        a = wilson( p , total)
        a = 1-a
        coeficiente.update({i : a} )
    return coeficiente

aplicar_wilson_pais = aplicar_wilson(proporcion_paises_t, paises, proporcion_paises_t['Billing_Country'],'Exitos_ventas_paises', 'Total')
print(aplicar_wilson_pais)

{'Japan': 0.973862769421894, 'United States': 0.9682656772928921, 'Germany': 0.9563341047515138, 'Australia': 0.9437462739944699, 'India': 0.9254397932044474, 'Netherlands': 0.9182572823846137, 'Singapore': 0.9171385425537792, 'France': 0.9118485602118225, 'Spain': 0.8930185123703911, 'Italy': 0.8866723357392459, 'United Kingdom': 0.8851118240035135, 'Belgium': 0.8708962252169568, 'China': 0.9256785828209971, 'Thailand': 0.8606106810770713, 'Austria': 0.8813030913920646, 'Indonesia': 0.8405664863275353, 'Philippines': 0.8387580937703839, 'Luxembourg': 0.8421295348102386, 'Canada': 0.8435573472561289, 'Sri Lanka': 0.8368435617498141, 'Jordan': 0.8170368507117076, 'Poland': 0.7564471745913466, 'Cyprus': 0.7534130538617003, 'New Zealand': 0.7630880018702724, 'United Arab Emirates': 0.7842661282423256, 'Norway': 0.7016393001671098, 'Viet Nam': 0.6958539317455203, 'Taiwan': 0.706652267284682, 'Portugal': 0.6646747431569883, 'Switzerland': 0.689817739317199, 'None': 0.8712669561953783, 'Pakistan': 0.6002770291646926, 'Turkey': 0.5761586042464693, 'Puerto Rico': 0.5359773583895054, 'Hungary': 0.5234918673332019, 'Ireland': 0.7718981569447083, 'South Africa': 0.5323192755350536, 'Lebanon': 0.5045625074657771, 'Denmark': 0.7224598312333834, 'Czech Republic': 0.5045625074657771, 'Greece': 0.7008472464490406, 'Saudi Arabia': 0.5848841565590703, 'French Southern Territories': 0.6755843804891231, 'Sweden': 0.43042505364888384, 'Malta': 0.4411462558572281, 'Brazil': 0.6096569663469356, 'Korea, Republic of': 0.3483381633680903, 'Egypt': 0.565508505247919, 'Cambodia': 0.34622211508727285, 'Myanmar': 0.34622211508727285, 'Macedonia, the former Yugoslav Republic of': 0.34622211508727285, 'Mexico': 0.5100999795960008, 'Bulgaria': 0.34622211508727285, 'Kuwait': 0.43849391955098227, 'Jamaica': 0.3423719528896193, 'Armenia': 0.3423719528896193, 'Slovakia': 0.3423719528896193, 'Ghana': 0.3423719528896193, 'Belarus': 0.3423719528896193, 'Reunion': 0.3423719528896193, 'Palestine': 0.3423719528896193, 'Estonia': 0.18905730960173217, 'Albania': 0.3423719528896193, 'Malaysia': 0.20654329147389294, 'Chile': 0.20654329147389294, 'Bangladesh': 0.20654329147389294, 'Kenya': 0.20654329147389294, 'Ecuador': 0.20654329147389294, 'Bosnia and Herzegovina': 0.20654329147389294, 'Bahrain': 0.20654329147389294, 'Colombia': 0.20654329147389294, 'Dominican Republic': 0.20654329147389294, 'Morocco': 0.20654329147389294, 'Peru': 0.20654329147389294, 'Belize': 0.20654329147389294, 'Argentina': 0.20654329147389294, 'Liechtenstein': 0.20654329147389294, 'Libya': 0.20654329147389294, "Korea, Democratic People's Republic of": 0.6805647270972228}

In [66]:
res = dicc(proporcion_paises_t['Billing_Country'], proporcion_paises_t['Proporcion'])
data_final4['proporcion_exito_paises'] = data_final4['Billing_Country'].map(res)
data_final4['1-wilson_paises'] = data_final4['Billing_Country'].map(aplicar_wilson_pais)
data_final4['Wilsonxproporcion_paises'] = data_final4['proporcion_exito_paises'] * data_final4['1-wilson_paises'] 
data_final4

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,...,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity,promedio_preciov_vendedor,proporcion_exito_region,1-wilson_Region,Wilsonxproporcion_region,proporcion_exito_paises,1-wilson_paises,Wilsonxproporcion_paises
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,...,0.000000,0.000000,0.000000,0.000000,0.53,0.971352,0.514817,0.559503,0.918257,0.513767
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,...,177583.146032,125034.170409,133491.432403,85165.046512,0.53,0.971352,0.514817,0.559503,0.918257,0.513767
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,...,432143.813675,958150.887348,133491.432403,75357.668421,0.46,0.968884,0.445687,0.463061,0.968266,0.448366
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,...,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,...,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,...,76525.491803,958150.887348,133491.432403,278450.516274,0.53,0.971352,0.514817,0.841379,0.881303,0.741510
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,...,76525.491803,958150.887348,133491.432403,278450.516274,0.53,0.971352,0.514817,0.841379,0.881303,0.741510
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,...,76525.491803,958150.887348,133491.432403,278450.516274,0.53,0.971352,0.514817,0.841379,0.881303,0.741510
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,...,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,...,0.000000,0.000000,0.000000,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366

In [67]:
proporcion_vendedor_y = data_final4[data_final4['Stage']=='Closed Won']
proporcion_vendedor_y = proporcion_vendedor_y['Account_Owner'].value_counts().reset_index()
proporcion_vendedor_y.columns = ['Account_Owner', 'Exitos_ventas_vendedor']
proporcion_vendedor_y

     Account_Owner  Exitos_ventas_vendedor
0   Person_Name_50                    2423
1   Person_Name_13                     891
2    Person_Name_8                     763
3   Person_Name_43                     727
4   Person_Name_18                     597
5   Person_Name_32                     571
6   Person_Name_65                     504
7   Person_Name_64                     380
8    Person_Name_4                     301
9    Person_Name_3                     233
10  Person_Name_42                     201
11  Person_Name_66                     188
12   Person_Name_2                     183
13  Person_Name_52                     141
14  Person_Name_21                     132
15  Person_Name_46                     127
16  Person_Name_16                     126
17  Person_Name_45                     117
18  Person_Name_38                     116
19  Person_Name_49                     105
20  Person_Name_54                      96
21  Person_Name_55                      86
22  Person_Name_62                      84
23  Person_Name_60                      66
24  Person_Name_59                      59
25  Person_Name_61                      56
26  Person_Name_63                      54
27   Person_Name_5                      48
28  Person_Name_51                      43
29  Person_Name_33                      39
30  Person_Name_14                      22
31  Person_Name_39                      20
32   Person_Name_9                      16
33  Person_Name_44                       9
34  Person_Name_41                       3
35  Person_Name_23                       2
36  Person_Name_58                       2
37  Person_Name_34                       1
38  Person_Name_35                       1

In [68]:
proporcion_vendedor_n = data_final[data_final4['Stage']=='Closed Lost']
proporcion_vendedor_n = proporcion_vendedor_n['Account_Owner'].value_counts().reset_index()
proporcion_vendedor_n.columns = ['Account_Owner', 'Fracasos_ventas_vendedor']
proporcion_vendedor_t= pd.merge(proporcion_vendedor_y, proporcion_vendedor_n, on = 'Account_Owner', how = 'outer' )
proporcion_vendedor_t = proporcion_vendedor_t.fillna(0) 
proporcion_vendedor_t['Total'] =  proporcion_vendedor_t['Exitos_ventas_vendedor'] +   proporcion_vendedor_t['Fracasos_ventas_vendedor']
proporcion_vendedor_t['Proporcion'] = proporcion_vendedor_t['Exitos_ventas_vendedor'] / proporcion_vendedor_t['Total']
proporcion_vendedor_t

,Account_Owner,Exitos_ventas_vendedor,Fracasos_ventas_vendedor,Total,Proporcion
0,Person_Name_50,2423.0,1299,3722.0,0.650994
1,Person_Name_13,891.0,432,1323.0,0.673469
2,Person_Name_8,763.0,523,1286.0,0.593313
3,Person_Name_43,727.0,508,1235.0,0.588664
4,Person_Name_18,597.0,496,1093.0,0.546203
5,Person_Name_32,571.0,110,681.0,0.838473
6,Person_Name_65,504.0,127,631.0,0.798732
7,Person_Name_64,380.0,189,569.0,0.667838
8,Person_Name_4,301.0,361,662.0,0.454683
9,Person_Name_3,233.0,642,875.0,0.266286
10,Person_Name_42,201.0,103,304.0,0.661184
11,Person_Name_66,188.0,66,254.0,0.740157
12,Person_Name_2,183.0,150,333.0,0.549550
13,Person_Name_52,141.0,31,172.0,0.819767
14,Person_Name_21,132.0,34,166.0,0.795181
15,Person_Name_46,127.0,254,381.0,0.333333
16,Person_Name_16,126.0,313,439.0,0.287016
17,Person_Name_45,117.0,240,357.0,0.327731
18,Person_Name_38,116.0,206,322.0,0.360248
19,Person_Name_49,105.0,95,200.0,0.525000
20,Person_Name_54,96.0,82,178.0,0.539326
21,Person_Name_55,86.0,43,129.0,0.666667
22,Person_Name_62,84.0,95,179.0,0.469274
23,Person_Name_60,66.0,160,226.0,0.292035
24,Person_Name_59,59.0,142,201.0,0.293532
25,Person_Name_61,56.0,15,71.0,0.788732
26,Person_Name_63,54.0,81,135.0,0.400000
27,Person_Name_5,48.0,104,152.0,0.315789
28,Person_Name_51,43.0,65,108.0,0.398148
29,Person_Name_33,39.0,47,86.0,0.453488
30,Person_Name_14,22.0,52,74.0,0.297297
31,Person_Name_39,20.0,83,103.0,0.194175
32,Person_Name_9,16.0,34,50.0,0.320000
33,Person_Name_44,9.0,48,57.0,0.157895
34,Person_Name_41,3.0,48,51.0,0.058824
35,Person_Name_23,2.0,2,4.0,0.500000
36,Person_Name_58,2.0,12,14.0,0.142857
37,Person_Name_34,1.0,2,3.0,0.333333
38,Person_Name_35,1.0,1,2.0,0.500000
39,Person_Name_26,0.0,12,12.0,0.000000
40,Person_Name_11,0.0,10,10.0,0.000000
41,Person_Name_29,0.0,8,8.0,0.000000
42,Person_Name_25,0.0,7,7.0,0.000000
43,Person_Name_36,0.0,7,7.0,0.000000
44,Person_Name_17,0.0,2,2.0,0.000000
45,Person_Name_47,0.0,2,2.0,0.000000
46,Person_Name_10,0.0,1,1.0,0.000000
47,Person_Name_20,0.0,1,1.0,0.000000

In [69]:
vendedores = ['Person_Name_65', 'Person_Name_13', 'Person_Name_2', 'Person_Name_63',
       'Person_Name_18', 'Person_Name_47', 'Person_Name_36', 'Person_Name_8',
       'Person_Name_58', 'Person_Name_23', 'Person_Name_51', 'Person_Name_35',
       'Person_Name_38', 'Person_Name_64', 'Person_Name_44', 'Person_Name_59',
       'Person_Name_43', 'Person_Name_11', 'Person_Name_26', 'Person_Name_10',
       'Person_Name_20', 'Person_Name_41', 'Person_Name_50', 'Person_Name_32',
       'Person_Name_9', 'Person_Name_33', 'Person_Name_4', 'Person_Name_49',
       'Person_Name_21', 'Person_Name_17', 'Person_Name_5', 'Person_Name_52',
       'Person_Name_39', 'Person_Name_16', 'Person_Name_25', 'Person_Name_60',
       'Person_Name_55', 'Person_Name_45', 'Person_Name_62', 'Person_Name_29',
       'Person_Name_46', 'Person_Name_14', 'Person_Name_54', 'Person_Name_66',
       'Person_Name_3', 'Person_Name_61', 'Person_Name_34', 'Person_Name_42']

In [70]:
aplicar_wilson_vendedor = aplicar_wilson(proporcion_vendedor_t, vendedores, proporcion_vendedor_t['Account_Owner'],'Exitos_ventas_vendedor', 'Total')
print(aplicar_wilson_vendedor)

{'Person_Name_65': 0.9375159220935398, 'Person_Name_13': 0.9495241754832218, 'Person_Name_2': 0.8937265675269831, 'Person_Name_63': 0.8369269921068359, 'Person_Name_18': 0.9410710772437948, 'Person_Name_47': 0.3423719528896193, 'Person_Name_36': 0.6456611570247934, 'Person_Name_8': 0.9463816606675635, 'Person_Name_58': 0.6406739960992842, 'Person_Name_23': 0.30007141764034295, 'Person_Name_51': 0.8184174164023147, 'Person_Name_35': 0.18905730960173217, 'Person_Name_38': 0.895694699872677, 'Person_Name_64': 0.9228272330402341, 'Person_Name_44': 0.8117227784502826, 'Person_Name_59': 0.8750355016897154, 'Person_Name_43': 0.9451934908178864, 'Person_Name_11': 0.7224598312333834, 'Person_Name_26': 0.7574992425007575, 'Person_Name_10': 0.20654329147389294, 'Person_Name_20': 0.20654329147389294, 'Person_Name_41': 0.8609575334746323, 'Person_Name_50': 0.9693873269378513, 'Person_Name_32': 0.9447431391031149, 'Person_Name_9': 0.7494748695772333, 'Person_Name_33': 0.7940740192450704, 'Person_Name_4': 0.9243533255848541, 'Person_Name_49': 0.8628877145060561, 'Person_Name_21': 0.877877914873905, 'Person_Name_17': 0.3423719528896193, 'Person_Name_5': 0.8537563178829017, 'Person_Name_52': 0.8855157409336112, 'Person_Name_39': 0.8483821746664234, 'Person_Name_16': 0.915652551699831, 'Person_Name_25': 0.6456611570247934, 'Person_Name_60': 0.8822249850240773, 'Person_Name_55': 0.8393812297045151, 'Person_Name_45': 0.9030675324466079, 'Person_Name_62': 0.8553180780618566, 'Person_Name_29': 0.6755843804891231, 'Person_Name_46': 0.90574387339329, 'Person_Name_14': 0.7959394603980244, 'Person_Name_54': 0.8550926085188406, 'Person_Name_66': 0.8927012134462741, 'Person_Name_3': 0.9415164949074987, 'Person_Name_61': 0.8126723847510983, 'Person_Name_34': 0.26914527040264846, 'Person_Name_42': 0.894177136293085}

In [71]:
res2 = dicc(proporcion_vendedor_t['Account_Owner'],proporcion_vendedor_t['Proporcion'])
data_final4['proporcion_exito_vendedor'] = data_final4['Account_Owner'].map(res2)
data_final4['1-wilson_vendedor'] = data_final4['Account_Owner'].map(aplicar_wilson_vendedor)
data_final4['Wilsonxproporcion_vendedor'] = data_final4['proporcion_exito_vendedor'] * data_final4['1-wilson_vendedor'] 
data_final4

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,...,promedio_preciov_vendedor,proporcion_exito_region,1-wilson_Region,Wilsonxproporcion_region,proporcion_exito_paises,1-wilson_paises,Wilsonxproporcion_paises,proporcion_exito_vendedor,1-wilson_vendedor,Wilsonxproporcion_vendedor
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,...,0.000000,0.53,0.971352,0.514817,0.559503,0.918257,0.513767,0.398148,0.818417,0.325851
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,...,85165.046512,0.53,0.971352,0.514817,0.559503,0.918257,0.513767,0.398148,0.818417,0.325851
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,...,75357.668421,0.46,0.968884,0.445687,0.463061,0.968266,0.448366,0.667838,0.922827,0.616299
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,...,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366,0.593313,0.946382,0.561500
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,...,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366,0.593313,0.946382,0.561500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,...,278450.516274,0.53,0.971352,0.514817,0.841379,0.881303,0.741510,0.673469,0.949524,0.639475
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,...,278450.516274,0.53,0.971352,0.514817,0.841379,0.881303,0.741510,0.673469,0.949524,0.639475
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,...,278450.516274,0.53,0.971352,0.514817,0.841379,0.881303,0.741510,0.673469,0.949524,0.639475
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,...,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366,0.266286,0.941516,0.250712
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,...,0.000000,0.46,0.968884,0.445687,0.463061,0.968266,0.448366,0.266286,0.941516,0.250712

In [72]:
proporcion_clientes_y = data_final4[data_final4['Stage']=='Closed Won']
proporcion_clientes_y = proporcion_clientes_y['Account_Name'].value_counts().reset_index()
proporcion_clientes_y.columns = ['Account_Name', 'Exitos_ventas_clientes']
proporcion_clientes_y

          Account_Name  Exitos_ventas_clientes
0    Account_Name_1888                    1018
1    Account_Name_1836                     795
2      Account_Name_25                     539
3    Account_Name_1991                     520
4    Account_Name_1508                     323
..                 ...                     ...
662  Account_Name_1820                       1
663  Account_Name_1667                       1
664   Account_Name_165                       1
665   Account_Name_466                       1
666  Account_Name_2052                       1

[667 rows x 2 columns]

In [73]:
proporcion_clientes_n = data_final[data_final4['Stage']=='Closed Lost']
proporcion_clientes_n = proporcion_clientes_n['Account_Name'].value_counts().reset_index()
proporcion_clientes_n.columns = ['Account_Name', 'Fracasos_ventas_clientes']
proporcion_clientes_t= pd.merge(proporcion_clientes_y, proporcion_clientes_n, on = 'Account_Name', how = 'outer' )
proporcion_clientes_t = proporcion_clientes_t.fillna(0) 
proporcion_clientes_t['Total'] =  proporcion_clientes_t['Exitos_ventas_clientes'] +   proporcion_clientes_t['Fracasos_ventas_clientes']
proporcion_clientes_t['Proporcion'] = proporcion_clientes_t['Exitos_ventas_clientes'] / proporcion_clientes_t['Total']
lista_clientes = proporcion_clientes_t['Account_Name'].value_counts().keys()
lista_clientes = lista_clientes.tolist()

In [74]:
aplicar_wilson_clientes = aplicar_wilson(proporcion_clientes_t, lista_clientes, proporcion_clientes_t['Account_Name'],'Exitos_ventas_clientes', 'Total')
print(aplicar_wilson_clientes)

{'Account_Name_263': 0.9054583495754185, 'Account_Name_241': 0.44257961404532287, 'Account_Name_349': 0.5515221030934347, 'Account_Name_228': 0.3423719528896193, 'Account_Name_1534': 0.43849391955098227, 'Account_Name_359': 0.5761586042464693, 'Account_Name_1398': 0.20654329147389294, 'Account_Name_1891': 0.34622211508727285, 'Account_Name_767': 0.5100999795960008, 'Account_Name_1915': 0.3967576539007456, 'Account_Name_1588': 0.20654329147389294, 'Account_Name_2067': 0.37522561379881747, 'Account_Name_2': 0.20654329147389294, 'Account_Name_1112': 0.20654329147389294, 'Account_Name_554': 0.7961107336956521, 'Account_Name_1057': 0.20654329147389294, 'Account_Name_1900': 0.6755843804891231, 'Account_Name_864': 0.20654329147389294, 'Account_Name_855': 0.20654329147389294, 'Account_Name_1539': 0.20654329147389294, 'Account_Name_420': 0.43849391955098227, 'Account_Name_310': 0.20654329147389294, 'Account_Name_837': 0.20654329147389294, 'Account_Name_1457': 0.26914527040264846, 'Account_Name_1194': 0.20654329147389294, 'Account_Name_1986': 0.20654329147389294, 'Account_Name_126': 0.20654329147389294, 'Account_Name_1793': 0.824115449417625, 'Account_Name_678': 0.20654329147389294, 'Account_Name_1977': 0.20654329147389294, 'Account_Name_403': 0.3483381633680903, 'Account_Name_356': 0.20654329147389294, 'Account_Name_264': 0.43849391955098227, 'Account_Name_179': 0.3423719528896193, 'Account_Name_305': 0.20654329147389294, 'Account_Name_220': 0.3423719528896193, 'Account_Name_1473': 0.43849391955098227, 'Account_Name_805': 0.5100999795960008, 'Account_Name_1272': 0.20654329147389294, 'Account_Name_1093': 0.20654329147389294, 'Account_Name_1336': 0.20654329147389294, 'Account_Name_1372': 0.43849391955098227, 'Account_Name_1676': 0.20654329147389294, 'Account_Name_1215': 0.3423719528896193, 'Account_Name_104': 0.20654329147389294, 'Account_Name_159': 0.665355895546861, 'Account_Name_119': 0.43849391955098227, 'Account_Name_298': 0.3423719528896193, 'Account_Name_1226': 0.7008472464490406, 'Account_Name_268': 0.7464282271468263, 'Account_Name_1064': 0.7646661758284676, 'Account_Name_26': 0.20654329147389294, 'Account_Name_2065': 0.43849391955098227, 'Account_Name_0': 0.20654329147389294, 'Account_Name_1382': 0.5998152456370809, 'Account_Name_448': 0.20654329147389294, 'Account_Name_210': 0.18905730960173217, 'Account_Name_2005': 0.3423719528896193, 'Account_Name_1796': 0.20654329147389294, 'Account_Name_945': 0.5100999795960008, 'Account_Name_1536': 0.20654329147389294, 'Account_Name_84': 0.3423719528896193, 'Account_Name_399': 0.3423719528896193, 'Account_Name_294': 0.20654329147389294, 'Account_Name_651': 0.3423719528896193, 'Account_Name_468': 0.5100999795960008, 'Account_Name_2000': 0.5743804630927558, 'Account_Name_689': 0.20654329147389294, 'Account_Name_1459': 0.4927973311298687, 'Account_Name_1390': 0.20654329147389294, 'Account_Name_1125': 0.3423719528896193, 'Account_Name_577': 0.20654329147389294, 'Account_Name_250': 0.3423719528896193, 'Account_Name_856': 0.20654329147389294, 'Account_Name_1285': 0.20654329147389294, 'Account_Name_593': 0.3423719528896193, 'Account_Name_730': 0.43849391955098227, 'Account_Name_288': 0.3423719528896193, 'Account_Name_533': 0.8911862853818161, 'Account_Name_1664': 0.7063029961713827, 'Account_Name_429': 0.20654329147389294, 'Account_Name_525': 0.20654329147389294, 'Account_Name_1219': 0.3423719528896193, 'Account_Name_1772': 0.43849391955098227, 'Account_Name_459': 0.5100999795960008, 'Account_Name_458': 0.20654329147389294, 'Account_Name_1481': 0.20654329147389294, 'Account_Name_1231': 0.20654329147389294, 'Account_Name_1714': 0.6096569663469356, 'Account_Name_1735': 0.37522561379881747, 'Account_Name_1032': 0.18905730960173217, 'Account_Name_1277': 0.3423719528896193, 'Account_Name_1059': 0.7411599827511859, 'Account_Name_1781': 0.3423719528896193, 'Account_Name_1331': 0.20654329147389294, 'Account_Name_826': 0.20654329147389294, 'Account_Name_714': 0.20654329147389294, 'Account_Name_1624': 0.3967576539007456, 'Account_Name_1875': 0.3423719528896193, 'Account_Name_590': 0.20654329147389294, 'Account_Name_1820': 0.20654329147389294, 'Account_Name_1153': 0.20654329147389294, 'Account_Name_1672': 0.6585354778261969, 'Account_Name_1167': 0.2691452704026486, 'Account_Name_1607': 0.43849391955098227, 'Account_Name_954': 0.20654329147389294, 'Account_Name_521': 0.43849391955098227, 'Account_Name_1970': 0.6456611570247934, 'Account_Name_1972': 0.5100999795960008, 'Account_Name_1100': 0.7872111983957665, 'Account_Name_726': 0.43849391955098227, 'Account_Name_1560': 0.5158071059850327, 'Account_Name_803': 0.20654329147389294, 'Account_Name_446': 0.20654329147389294, 'Account_Name_1440': 0.9198132120376568, 'Account_Name_478': 0.565508505247919, 'Account_Name_1287': 0.3423719528896193, 'Account_Name_734': 0.7008472464490406, 'Account_Name_1609': 0.3483381633680903, 'Account_Name_939': 0.565508505247919, 'Account_Name_833': 0.3423719528896193, 'Account_Name_1818': 0.3423719528896193, 'Account_Name_155': 0.5468377947014167, 'Account_Name_393': 0.43849391955098227, 'Account_Name_1304': 0.20654329147389294, 'Account_Name_2071': 0.20654329147389294, 'Account_Name_816': 0.20654329147389294, 'Account_Name_1406': 0.20654329147389294, 'Account_Name_1677': 0.20654329147389294, 'Account_Name_1593': 0.20654329147389294, 'Account_Name_246': 0.20654329147389294, 'Account_Name_444': 0.20654329147389294, 'Account_Name_422': 0.5100999795960008, 'Account_Name_160': 0.505459013032951, 'Account_Name_1763': 0.20654329147389294, 'Account_Name_1523': 0.18905730960173217, 'Account_Name_1992': 0.3423719528896193, 'Account_Name_1357': 0.7574992425007575, 'Account_Name_985': 0.4807475679606168, 'Account_Name_1464': 0.6096569663469356, 'Account_Name_1598': 0.20654329147389294, 'Account_Name_1906': 0.20654329147389294, 'Account_Name_1295': 0.43849391955098227, 'Account_Name_1505': 0.20654329147389294, 'Account_Name_85': 0.3423719528896193, 'Account_Name_323': 0.20654329147389294, 'Account_Name_1228': 0.3423719528896193, 'Account_Name_223': 0.20654329147389294, 'Account_Name_762': 0.5100999795960008, 'Account_Name_1388': 0.4117514250883263, 'Account_Name_1877': 0.2691452704026486, 'Account_Name_850': 0.20654329147389294, 'Account_Name_1152': 0.20654329147389294, 'Account_Name_1370': 0.20654329147389294, 'Account_Name_374': 0.20654329147389294, 'Account_Name_1494': 0.5468377947014168, 'Account_Name_980': 0.3423719528896193, 'Account_Name_1783': 0.20654329147389294, 'Account_Name_1575': 0.20654329147389294, 'Account_Name_185': 0.3423719528896193, 'Account_Name_752': 0.20654329147389294, 'Account_Name_840': 0.6609787876521782, 'Account_Name_1274': 0.886937737795014, 'Account_Name_276': 0.18905730960173217, 'Account_Name_1229': 0.3423719528896193, 'Account_Name_1688': 0.20654329147389294, 'Account_Name_1188': 0.18905730960173217, 'Account_Name_366': 0.6096569663469354, 'Account_Name_100': 0.20654329147389294, 'Account_Name_883': 0.20654329147389294, 'Account_Name_1640': 0.20654329147389294, 'Account_Name_474': 0.3423719528896193, 'Account_Name_1289': 0.7718981569447083, 'Account_Name_1808': 0.7727453259203064, 'Account_Name_1729': 0.3423719528896193, 'Account_Name_281': 0.4117514250883263, 'Account_Name_1822': 0.20654329147389294, 'Account_Name_1854': 0.20654329147389294, 'Account_Name_1613': 0.5127647975606194, 'Account_Name_1456': 0.20654329147389294, 'Account_Name_497': 0.20654329147389294, 'Account_Name_620': 0.34622211508727285, 'Account_Name_1806': 0.30007141764034295, 'Account_Name_1082': 0.5100999795960008, 'Account_Name_243': 0.6456611570247934, 'Account_Name_1760': 0.6096569663469356, 'Account_Name_1187': 0.3423719528896193, 'Account_Name_1881': 0.20654329147389294, 'Account_Name_501': 0.848784686725002, 'Account_Name_224': 0.20654329147389294, 'Account_Name_1060': 0.20654329147389294, 'Account_Name_832': 0.3423719528896193, 'Account_Name_1951': 0.20654329147389294, 'Account_Name_934': 0.20654329147389294, 'Account_Name_465': 0.43042505364888384, 'Account_Name_165': 0.4117514250883263, 'Account_Name_1280': 0.3967576539007456, 'Account_Name_194': 0.20654329147389294, 'Account_Name_2026': 0.20654329147389294, 'Account_Name_1585': 0.20654329147389294, 'Account_Name_1147': 0.40867115267165266, 'Account_Name_1765': 0.5894638644549608, 'Account_Name_1449': 0.20654329147389294, 'Account_Name_818': 0.20654329147389294, 'Account_Name_1544': 0.3423719528896193, 'Account_Name_247': 0.3423719528896193, 'Account_Name_479': 0.5158071059850327, 'Account_Name_938': 0.20654329147389294, 'Account_Name_1522': 0.8436802108450341, 'Account_Name_1746': 0.18905730960173217, 'Account_Name_1876': 0.3423719528896193, 'Account_Name_612': 0.20654329147389294, 'Account_Name_432': 0.3967576539007456, 'Account_Name_1552': 0.20654329147389294, 'Account_Name_73': 0.43849391955098227, 'Account_Name_1381': 0.20654329147389294, 'Account_Name_1492': 0.3423719528896193, 'Account_Name_1965': 0.20654329147389294, 'Account_Name_784': 0.20654329147389294, 'Account_Name_1048': 0.20654329147389294, 'Account_Name_1149': 0.5892366050758733, 'Account_Name_1657': 0.3423719528896193, 'Account_Name_265': 0.7411599827511859, 'Account_Name_430': 0.6755667649240353, 'Account_Name_1667': 0.18905730960173217, 'Account_Name_719': 0.3423719528896193, 'Account_Name_1009': 0.20654329147389294, 'Account_Name_591': 0.8835243025652509, 'Account_Name_541': 0.20654329147389294, 'Account_Name_1279': 0.3423719528896193, 'Account_Name_2043': 0.20654329147389294, 'Account_Name_382': 0.20654329147389294, 'Account_Name_1453': 0.20654329147389294, 'Account_Name_1373': 0.20654329147389294, 'Account_Name_551': 0.20654329147389294, 'Account_Name_1653': 0.30007141764034295, 'Account_Name_1276': 0.3423719528896193, 'Account_Name_1077': 0.20654329147389294, 'Account_Name_1554': 0.3423719528896193, 'Account_Name_426': 0.43849391955098227, 'Account_Name_28': 0.20654329147389294, 'Account_Name_1549': 0.18905730960173217, 'Account_Name_490': 0.20654329147389294, 'Account_Name_1987': 0.3423719528896193, 'Account_Name_619': 0.7707705051235602, 'Account_Name_1120': 0.5100999795960008, 'Account_Name_1709': 0.20654329147389294, 'Account_Name_982': 0.20654329147389294, 'Account_Name_44': 0.4927973311298687, 'Account_Name_62': 0.20654329147389294, 'Account_Name_215': 0.5323192755350535, 'Account_Name_1847': 0.43849391955098227, 'Account_Name_1266': 0.43042505364888384, 'Account_Name_1288': 0.20654329147389294, 'Account_Name_906': 0.20654329147389294, 'Account_Name_1332': 0.3483381633680903, 'Account_Name_377': 0.20654329147389294, 'Account_Name_1172': 0.20654329147389294, 'Account_Name_505': 0.2691452704026486, 'Account_Name_1061': 0.20654329147389294, 'Account_Name_896': 0.20654329147389294, 'Account_Name_488': 0.20654329147389294, 'Account_Name_857': 0.20654329147389294, 'Account_Name_1241': 0.20654329147389294, 'Account_Name_2064': 0.3423719528896193, 'Account_Name_1529': 0.3423719528896193, 'Account_Name_117': 0.20654329147389294, 'Account_Name_1222': 0.3423719528896193, 'Account_Name_383': 0.20654329147389294, 'Account_Name_1620': 0.20654329147389294, 'Account_Name_1826': 0.20654329147389294, 'Account_Name_404': 0.8063865817272801, 'Account_Name_1611': 0.43849391955098227, 'Account_Name_1395': 0.3423719528896193, 'Account_Name_1317': 0.6096569663469356, 'Account_Name_1056': 0.20654329147389294, 'Account_Name_673': 0.7562154524262932, 'Account_Name_718': 0.5941717185719049, 'Account_Name_491': 0.20654329147389294, 'Account_Name_1071': 0.20654329147389294, 'Account_Name_239': 0.5100999795960008, 'Account_Name_1663': 0.7330842465431414, 'Account_Name_950': 0.5100999795960008, 'Account_Name_1948': 0.20654329147389294, 'Account_Name_1580': 0.5359773583895054, 'Account_Name_1079': 0.43849391955098227, 'Account_Name_1531': 0.20654329147389294, 'Account_Name_1199': 0.18905730960173217, 'Account_Name_1072': 0.20654329147389294, 'Account_Name_707': 0.3423719528896193, 'Account_Name_1292': 0.3423719528896193, 'Account_Name_2052': 0.4117514250883263, 'Account_Name_524': 0.30007141764034295, 'Account_Name_1928': 0.20654329147389294, 'Account_Name_1430': 0.4117514250883263, 'Account_Name_147': 0.7846829880728186, 'Account_Name_979': 0.3423719528896193, 'Account_Name_1719': 0.20654329147389294, 'Account_Name_1921': 0.20654329147389294, 'Account_Name_570': 0.20654329147389294, 'Account_Name_987': 0.20654329147389294, 'Account_Name_1402': 0.20654329147389294, 'Account_Name_1540': 0.3423719528896193, 'Account_Name_1171': 0.20654329147389294, 'Account_Name_319': 0.3423719528896193, 'Account_Name_616': 0.20654329147389294, 'Account_Name_291': 0.43849391955098227, 'Account_Name_285': 0.6096569663469356, 'Account_Name_1085': 0.20654329147389294, 'Account_Name_1905': 0.20654329147389294, 'Account_Name_633': 0.20654329147389294, 'Account_Name_1941': 0.3423719528896193, 'Account_Name_1979': 0.20654329147389294, 'Account_Name_94': 0.20654329147389294, 'Account_Name_189': 0.20654329147389294, 'Account_Name_1264': 0.6096569663469354, 'Account_Name_1872': 0.18905730960173217, 'Account_Name_2058': 0.20654329147389294, 'Account_Name_35': 0.20654329147389294, 'Account_Name_835': 0.20654329147389294, 'Account_Name_376': 0.7349618219377306, 'Account_Name_172': 0.5397077683326988, 'Account_Name_1597': 0.6219929940416422, 'Account_Name_134': 0.6878974404746725, 'Account_Name_1044': 0.20654329147389294, 'Account_Name_445': 0.20654329147389294, 'Account_Name_53': 0.2691452704026486, 'Account_Name_1443': 0.3423719528896193, 'Account_Name_1997': 0.3423719528896193, 'Account_Name_1957': 0.5100999795960008, 'Account_Name_111': 0.20654329147389294, 'Account_Name_886': 0.20654329147389294, 'Account_Name_610': 0.18905730960173217, 'Account_Name_745': 0.20654329147389294, 'Account_Name_1369': 0.43849391955098227, 'Account_Name_226': 0.5100999795960008, 'Account_Name_48': 0.34622211508727285, 'Account_Name_1399': 0.20654329147389294, 'Account_Name_2037': 0.7976789989113574, 'Account_Name_1290': 0.824115449417625, 'Account_Name_873': 0.46654314930808427, 'Account_Name_1478': 0.5045625074657771, 'Account_Name_634': 0.20654329147389294, 'Account_Name_706': 0.34622211508727285, 'Account_Name_1650': 0.20654329147389294, 'Account_Name_2024': 0.30007141764034295, 'Account_Name_529': 0.3423719528896193, 'Account_Name_66': 0.6456611570247934, 'Account_Name_542': 0.20654329147389294, 'Account_Name_434': 0.4117514250883263, 'Account_Name_780': 0.3423719528896193, 'Account_Name_72': 0.20654329147389294, 'Account_Name_1104': 0.20654329147389294, 'Account_Name_136': 0.5515221030934345, 'Account_Name_655': 0.5100999795960008, 'Account_Name_566': 0.20654329147389294, 'Account_Name_1428': 0.3423719528896193, 'Account_Name_1498': 0.20654329147389294, 'Account_Name_470': 0.20654329147389294, 'Account_Name_1347': 0.565508505247919, 'Account_Name_1642': 0.9021401594247866, 'Account_Name_1410': 0.20654329147389294, 'Account_Name_851': 0.4411462558572282, 'Account_Name_1068': 0.3423719528896193, 'Account_Name_1499': 0.3423719528896193, 'Account_Name_139': 0.20654329147389294, 'Account_Name_580': 0.20654329147389294, 'Account_Name_16': 0.20654329147389294, 'Account_Name_163': 0.5655085052479187, 'Account_Name_1431': 0.20654329147389294, 'Account_Name_105': 0.20654329147389294, 'Account_Name_1794': 0.8410752161327946, 'Account_Name_1858': 0.20654329147389294, 'Account_Name_1466': 0.20654329147389294, 'Account_Name_1665': 0.3423719528896193, 'Account_Name_1461': 0.3423719528896193, 'Account_Name_2007': 0.5100999795960008, 'Account_Name_107': 0.20654329147389294, 'Account_Name_1286': 0.20654329147389294, 'Account_Name_2015': 0.20654329147389294, 'Account_Name_1467': 0.3423719528896193, 'Account_Name_115': 0.20654329147389294, 'Account_Name_1742': 0.20654329147389294, 'Account_Name_774': 0.2691452704026486, 'Account_Name_315': 0.20654329147389294, 'Account_Name_124': 0.43849391955098227, 'Account_Name_1090': 0.18905730960173217, 'Account_Name_313': 0.20654329147389294, 'Account_Name_1879': 0.20654329147389294, 'Account_Name_1253': 0.20654329147389294, 'Account_Name_900': 0.3423719528896193, 'Account_Name_517': 0.3423719528896193, 'Account_Name_279': 0.20654329147389294, 'Account_Name_997': 0.20654329147389294, 'Account_Name_1063': 0.40867115267165266, 'Account_Name_1110': 0.20654329147389294, 'Account_Name_909': 0.7947599031869375, 'Account_Name_1401': 0.7008472464490406, 'Account_Name_1053': 0.6772188623313447, 'Account_Name_917': 0.20654329147389294, 'Account_Name_776': 0.20654329147389294, 'Account_Name_9': 0.20654329147389294, 'Account_Name_1942': 0.3423719528896193, 'Account_Name_307': 0.3423719528896193, 'Account_Name_553': 0.5510849541934314, 'Account_Name_221': 0.20654329147389294, 'Account_Name_1868': 0.6755843804891231, 'Account_Name_204': 0.4117514250883263, 'Account_Name_1769': 0.6456611570247934, 'Account_Name_506': 0.3423719528896193, 'Account_Name_217': 0.43849391955098227, 'Account_Name_559': 0.43849391955098227, 'Account_Name_887': 0.4747789461818326, 'Account_Name_137': 0.5100999795960008, 'Account_Name_1312': 0.20654329147389294, 'Account_Name_603': 0.20654329147389294, 'Account_Name_2066': 0.5100999795960008, 'Account_Name_1035': 0.20654329147389294, 'Account_Name_1898': 0.3967576539007456, 'Account_Name_1329': 0.20654329147389294, 'Account_Name_1700': 0.37522561379881747, 'Account_Name_328': 0.3423719528896193, 'Account_Name_754': 0.20654329147389294, 'Account_Name_586': 0.6456611570247934, 'Account_Name_990': 0.3423719528896193, 'Account_Name_1476': 0.26914527040264846, 'Account_Name_644': 0.43849391955098227, 'Account_Name_101': 0.3423719528896193, 'Account_Name_352': 0.20654329147389294, 'Account_Name_1136': 0.40867115267165266, 'Account_Name_1980': 0.20654329147389294, 'Account_Name_14': 0.18905730960173217, 'Account_Name_1633': 0.3483381633680903, 'Account_Name_532': 0.3423719528896193, 'Account_Name_1845': 0.20654329147389294, 'Account_Name_1483': 0.20654329147389294, 'Account_Name_1209': 0.20654329147389294, 'Account_Name_1630': 0.34622211508727285, 'Account_Name_1485': 0.20654329147389294, 'Account_Name_1330': 0.665355895546861, 'Account_Name_1792': 0.20654329147389294, 'Account_Name_1501': 0.3423719528896193, 'Account_Name_1490': 0.3423719528896193, 'Account_Name_1041': 0.20654329147389294, 'Account_Name_125': 0.6456611570247934, 'Account_Name_1644': 0.5100999795960008, 'Account_Name_380': 0.20654329147389294, 'Account_Name_1832': 0.6096569663469356, 'Account_Name_915': 0.20654329147389294, 'Account_Name_15': 0.20654329147389294, 'Account_Name_1518': 0.43849391955098227, 'Account_Name_1380': 0.7224598312333834, 'Account_Name_1118': 0.20654329147389294, 'Account_Name_1208': 0.20654329147389294, 'Account_Name_544': 0.20654329147389294, 'Account_Name_316': 0.46654314930808427, 'Account_Name_1131': 0.20654329147389294, 'Account_Name_925': 0.20654329147389294, 'Account_Name_1600': 0.5468377947014167, 'Account_Name_1205': 0.7008472464490406, 'Account_Name_1968': 0.5566297005083014, 'Account_Name_449': 0.20654329147389294, 'Account_Name_1475': 0.3423719528896193, 'Account_Name_1684': 0.4411462558572282, 'Account_Name_1018': 0.3423719528896193, 'Account_Name_1656': 0.5515221030934347, 'Account_Name_1259': 0.20654329147389294, 'Account_Name_481': 0.18905730960173217, 'Account_Name_369': 0.3967576539007456, 'Account_Name_1322': 0.5712162965268761, 'Account_Name_1768': 0.20654329147389294, 'Account_Name_191': 0.6755843804891231, 'Account_Name_1889': 0.20654329147389294, 'Account_Name_1878': 0.26914527040264846, 'Account_Name_927': 0.20654329147389294, 'Account_Name_355': 0.3423719528896193, 'Account_Name_830': 0.20654329147389294, 'Account_Name_1873': 0.3423719528896193, 'Account_Name_232': 0.20654329147389294, 'Account_Name_68': 0.34622211508727285, 'Account_Name_820': 0.3423719528896193, 'Account_Name_538': 0.3423719528896193, 'Account_Name_1365': 0.43849391955098227, 'Account_Name_1173': 0.3423719528896193, 'Account_Name_61': 0.7008472464490406, 'Account_Name_34': 0.46654314930808427, 'Account_Name_133': 0.5127647975606194, 'Account_Name_503': 0.43

In [75]:
res3 = dicc(proporcion_clientes_t['Account_Name'],proporcion_clientes_t['Proporcion'])
data_final4['proporcion_exito_clientes'] = data_final4['Account_Name'].map(res3)
data_final4['1-wilson_clientes'] = data_final4['Account_Name'].map(aplicar_wilson_clientes)
data_final4['Wilsonxproporcion_clientes'] = data_final4['proporcion_exito_clientes'] * data_final4['1-wilson_clientes'] 
data_final4

,ID,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,...,Wilsonxproporcion_region,proporcion_exito_paises,1-wilson_paises,Wilsonxproporcion_paises,proporcion_exito_vendedor,1-wilson_vendedor,Wilsonxproporcion_vendedor,proporcion_exito_clientes,1-wilson_clientes,Wilsonxproporcion_clientes
0,27761,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,...,0.514817,0.559503,0.918257,0.513767,0.398148,0.818417,0.325851,0.650794,0.770771,0.501613
1,27760,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,...,0.514817,0.559503,0.918257,0.513767,0.398148,0.818417,0.325851,0.650794,0.770771,0.501613
2,27446,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,...,0.445687,0.463061,0.968266,0.448366,0.667838,0.922827,0.616299,0.813187,0.841075,0.683951
3,16808,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,...,0.445687,0.463061,0.968266,0.448366,0.593313,0.946382,0.561500,0.000000,0.675584,0.000000
4,16805,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,...,0.445687,0.463061,0.968266,0.448366,0.593313,0.946382,0.561500,0.000000,0.675584,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,8781,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,...,0.514817,0.841379,0.881303,0.741510,0.673469,0.949524,0.639475,1.000000,0.438494,0.438494
16938,8786,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,...,0.514817,0.841379,0.881303,0.741510,0.673469,0.949524,0.639475,1.000000,0.438494,0.438494
16939,8792,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,...,0.514817,0.841379,0.881303,0.741510,0.673469,0.949524,0.639475,1.000000,0.438494,0.438494
16940,28561,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,...,0.445687,0.463061,0.968266,0.448366,0.266286,0.941516,0.250712,0.000000,0.342372,0.000000
16941,28318,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,...,0.445687,0.463061,0.968266,0.448366,0.266286,0.941516,0.250712,0.000000,0.700847,0.000000

In [77]:
dataa_final = data_final4.drop(['ID','proporcion_exito_region', '1-wilson_Region', 'proporcion_exito_vendedor','1-wilson_vendedor', 'proporcion_exito_clientes','1-wilson_clientes'], axis = 1)
dataa_final

,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,...,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity,promedio_preciov_vendedor,Wilsonxproporcion_region,proporcion_exito_paises,1-wilson_paises,Wilsonxproporcion_paises,Wilsonxproporcion_vendedor,Wilsonxproporcion_clientes
0,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.514817,0.559503,0.918257,0.513767,0.325851,0.501613
1,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,...,177583.146032,125034.170409,133491.432403,85165.046512,0.514817,0.559503,0.918257,0.513767,0.325851,0.501613
2,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,...,432143.813675,958150.887348,133491.432403,75357.668421,0.445687,0.463061,0.968266,0.448366,0.616299,0.683951
3,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.561500,0.000000
4,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.561500,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,...,76525.491803,958150.887348,133491.432403,278450.516274,0.514817,0.841379,0.881303,0.741510,0.639475,0.438494
16938,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,...,76525.491803,958150.887348,133491.432403,278450.516274,0.514817,0.841379,0.881303,0.741510,0.639475,0.438494
16939,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,...,76525.491803,958150.887348,133491.432403,278450.516274,0.514817,0.841379,0.881303,0.741510,0.639475,0.438494
16940,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.250712,0.000000
16941,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.250712,0.000000

In [80]:
dataa_final['promedio_preciov_region'] = dataa_final['Region'].map(res_region)
dataa_final

,Region,Billing_Country,Account_Type,Opportunity_Type,Account_Owner,Account_Name,Conversión_USD,Delivery_Quarter,TRF,Stage,...,promedio_preciov_paises,promedio_preciov_Account,promedio_preciov_Oportunity,promedio_preciov_vendedor,Wilsonxproporcion_region,proporcion_exito_paises,1-wilson_paises,Wilsonxproporcion_paises,Wilsonxproporcion_vendedor,Wilsonxproporcion_clientes
0,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,6305214,Q2,10,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.514817,0.559503,0.918257,0.513767,0.325851,0.501613
1,EMEA,Netherlands,Account_Type_2,Opportunity_Type_1,Person_Name_51,Account_Name_619,57673,Q1,0,Closed Won,...,177583.146032,125034.170409,133491.432403,85165.046512,0.514817,0.559503,0.918257,0.513767,0.325851,0.501613
2,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_64,Account_Name_1794,83865,Q1,0,Closed Won,...,432143.813675,958150.887348,133491.432403,75357.668421,0.445687,0.463061,0.968266,0.448366,0.616299,0.683951
3,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,7421881,Q1,14,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.561500,0.000000
4,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_8,Account_Name_1201,13357192,Q1,25,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.561500,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16937,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,...,76525.491803,958150.887348,133491.432403,278450.516274,0.514817,0.841379,0.881303,0.741510,0.639475,0.438494
16938,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,111227,Q2,0,Closed Won,...,76525.491803,958150.887348,133491.432403,278450.516274,0.514817,0.841379,0.881303,0.741510,0.639475,0.438494
16939,EMEA,Austria,Account_Type_5,Opportunity_Type_1,Person_Name_13,Account_Name_726,123585,Q1,0,Closed Won,...,76525.491803,958150.887348,133491.432403,278450.516274,0.514817,0.841379,0.881303,0.741510,0.639475,0.438494
16940,Americas,United States,Account_Type_5,Opportunity_Type_1,Person_Name_3,Account_Name_944,2346796,Q2,4,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.250712,0.000000
16941,Americas,United States,Account_Type_5,Opportunity_Type_19,Person_Name_3,Account_Name_1401,25603200,Q3,40,Closed Lost,...,0.000000,0.000000,0.000000,0.000000,0.445687,0.463061,0.968266,0.448366,0.250712,0.000000